@use 'variables' as var;

.btn-primary {
  background: var.$primary-color;
  border: none;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 16px 0;
  font-weight: 700;
}

.btn-secondary {
  background-color: #fff;
  border: solid 1px var.$primary-color;
  width: 100%;
  text-align: center;
  color: var.$primary-color;
  padding: 16px 0;
  font-weight: bold;
}