$border-color: #EBEBEB;

input, select {
  &.text {
    padding: 16px 24px;
    width: 100%;
    margin: 8px 0px;
    border: 1px solid $border-color;
  }
}

label {
  font-size: 12px;
}

textarea, trix-editor {
  min-height: 440px;
  resize: vertical;
  width: 100%;
  margin: 8px 0px;
  border: 1px solid $border-color;
  &.sm {
    min-height: 160px;
  }
}

// .trix-content {
//   display: block;
//   width: 100%;
//   min-height: 440px;
//   resize: vertical;
//   margin: 8px 0px;
//   border: 1px solid $border-color;
//   background: #fff;
// }